<template>
    <div class="home">
        <div>
            <details-panel :start="timerCount" :width="width/3*2" :height="panelHeight"
                           :style="`width: ${width/3*2}px`"
                           :indicator="indicator"
                           :mode="detailsMode"
            />
            Наиболее важные показатели
            <indicators-panel :start="timerCount" :width="width/3*2" :height="panelHeight"
                              :style="`width: ${width/3*2}px`"
                              @selection="setIndicator"
            />

        </div>
        <div>

            <prediction-panel :start="timerCount" :style="`width: ${width/3}px`"
                              @click="showPredict"
            />
            <div :class="`${isPredictWarningLastMinute ? 'alert-danger' : 'alert-info'} ml-1`"
                 :style="`width: ${width/3 - 10}px`">
                Макс. вероятность останова за последние 5 минут:
                {{parseInt(currentPredict * 100)}}%
            </div>
            Видеокамера
            <div>
                <!--<img :style="`width: ${width/3 - 10}px`"-->
                <!--:src="`${isPredictWarningLastMinute ? 'camera.gif' : 'football.gif'}`"/>-->
                <!--<img v-if="isPredictWarningLastMinute" :style="`width: ${width/3 - 10}px`"-->
                <!--src="camera.gif"/>-->
                <!--<img v-if="!isPredictWarningLastMinute" :style="`width: ${width/3 - 10}px`"-->
                <!--src="football.gif"/>-->
                <img
                        key="factory"
                        v-if="isPredictWarningLastMinute"
                        :style="`width: ${width/3 - 10}px`"
                        src="factory.gif"/>
                <img
                        key="football"
                        v-if="!isPredictWarningLastMinute"
                        :style="`width: ${width/3 - 10}px`"
                        src="football.gif"/>
                <div key="hint-factory" class="alert-danger ml-1"
                     v-if="isPredictWarningLastMinute"
                     :style="`width: ${width/3 - 10}px`">
                    Для дальнейшего просмотра футбола устраните проблему с оборудованием!
                </div>
                <div key="hint-football" :class="`alert-success ml-1`"
                     v-if="!isPredictWarningLastMinute"
                     :style="`width: ${width/3 - 10}px`">
                    Всё нормально, можно и футбол посмотреть!
                </div>

            </div>
        </div>


        <div>
            <b-button @click="toggleTimerDirection">Направление</b-button>
            <b-button @click="toggleTimer">Пауза</b-button>
            <b-button @click="showPredict">Вер ост</b-button>
            <b-button @click="switchMode">Изм граф</b-button>
        </div>
    </div>
</template>

<script>
  // @ is an alias to /src
  import * as R from "ramda";
  import PredictionPanel from "@/components/PredictionPanel.vue";
  import DetailsPanel from "@/components/DetailsPanel.vue";
  import IndicatorsPanel from "@/components/IndicatorsPanel.vue";
  import * as d3 from "d3";

  let timerObj;

  export default {
    name      : "home",
    components: {
      PredictionPanel, DetailsPanel, IndicatorsPanel
    },
    data() {
      return {
        width         : window.innerWidth,
        height        : window.innerHeight,
        timer         : true,
        timerCount    : 0,
        timerDelta    : 1,
        timerInterval : 10,
        indicator     : "predict",
        detailsMode   : "last",
        predictWarning: 0.4
      };
    },
    computed  : {
      rows() {
        return this.$store.getters.getAllData();
      },
      history() {
        const firstKey = Object.keys(this.$store.state.data[0])[3];
        const result = this.$store.state.data
          .slice(this.start, this.start + 30)
          .map(R.props(["date", firstKey]))
          .map(([date, value]) => {
            return [moment(date).format("hh:mm:ss"), value / 15];
          });
        return R.reverse(result);
      },
      panelHeight() {
        console.log((this.height - 100) / 2);
        return (this.height - 100) / 2;
      },
      currentPredict() {
        return d3.max(this.$store.state.data.slice(Math.max(0, this.timerCount - 30), this.timerCount), v =>
          v["predict"]);
      },
      isPredictWarningLastMinute() {
        return this.currentPredict > this.predictWarning;
      }
    },
    mounted() {
      window.addEventListener("resize", this.onResize);
      this.onResize();
    },
    created() {
      this.startTimer();
    },
    beforeDestroy() {
      window.removeEventListener("resize", this.onResize);
      this.stopTimer();
    },
    methods   : {
      log(a) {
        console.log(a);
      },
      setIndicator(a) {
        console.log(`show ${a}`);
        this.indicator = a;
      },
      showPredict() {
        console.log("show predict");
        this.indicator = "predict";
      },
      toggleTimerDirection() {
        this.timerDelta = this.timerDelta * -1;
      },
      toggleTimer() {
        if (this.timer)
          this.stopTimer();
        else
          this.startTimer();
      },
      onResize() {
        this.width = window.innerWidth;
        this.height = window.innerHeight;
      },
      startTimer() {
        this.timer = true;
        console.log("starting timer");
        timerObj = window.setInterval(this.timerTick, this.timerInterval);
      },

      stopTimer() {
        console.log("stopping timer");
        window.clearInterval(timerObj);
        timerObj = null;
        this.timer = false;
      },
      timerTick() {
        this.timerCount += this.timerDelta;
        if (this.timerCount > this.rows.length - 100)
          this.timerCount = 30;
          // this.stopTimer();
      },
      switchMode() {
        if (this.detailsMode === "full")
          this.detailsMode = "last";
        else
          this.detailsMode = "full";
      }
    }
  };
</script>

<style lang="scss">
    @import "~bootstrap/dist/css/bootstrap.css";
    @import "~bootstrap-vue/dist/bootstrap-vue.css";

    .home {
        display: flex;
        flex-wrap: wrap;
    }

    .hint {
        color: red;
    }
</style>
