<template>
    <div class="panel">
        <div class="label">
            {{headers[indicator] && headers[indicator].label || "нет данных"}}
        </div>
        <div class="predict">
            {{currentValueString || "нет данных"}}
        </div>

        <line-chart
                :download="true"
                :data="history"
                :messages="{empty: 'No data'}"
                :library="library"
        ></line-chart>
    </div>
</template>

<script>
  import * as R from "ramda";
  import * as moment from "moment";

  export default {
    name    : "PredictionPanel",
    data() {
      return {
        library: {
          title    : {
            display: false,
            text   : "Custom Title"
          },
          scales   : {
            xAxes: [{
              ticks: {
                min     : 0,
                max     : 1,
                stepSize: 0.25
              }
            }]
          },
          gridlines: {
            display: false
          },
          layout   : {
            padding: {
              left  : 0,
              right : 0,
              top   : 0,
              bottom: 0
            }
          }
        }
      };
    },
    props   : {
      msg      : String,
      start    : {
        type   : Number,
        default: 0
      },
      width    : Number,
      height   : Number,
      indicator: {
        type   : String,
        default: "predict"
      },
      mode: String
    },
    computed: {
      history() {
        const firstKey = Object.keys(this.$store.state.data[0])[3];

        const result =  (this.mode === 'last' ? this.$store.state.data
          .slice(this.start, this.start + 100) : this.$store.state.data )
          .map(R.props(["date", this.indicator || firstKey]))
          .map(([date, value]) => {
            return [moment(date).format("hh:mm:ss"), value];
          });
        return result;
      },
      currentValueString() {
        // return parseInt(this.history[0][1] * 10000);
        return this.history[0][1];
      },
      headers() {
        return this.$store.state.headers;
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

    .panel {
        /*border: 3px red solid;*/
    }

    .predict {
        font-size: 40px;
        font-weight: 700;
    }
</style>
