<template>
    <div class="panel">


        <div v-for="key in important"
             :key="key"
             :style="`width: ${width/5}px; height: ${height/2}px;`"
             @click="emitKey(key)"
             :alt="headers[key].label"
        >
            <div class="label">
                {{headers[key] && headers[key].label || ""}}
            </div>
            <div class="value">
                {{String(history[key][0][1]).slice(0,5)}}
            </div>
            <!--<canvas :id="`${key}`" :count="2"></canvas>-->
            <column-chart
                    :target="`${key}`"
                    label=""
                    :height="height/3"
                    :data="history[key]"
                    :messages="{empty: 'No data'}"
                    :library="library"
            ></column-chart>
            <!--<chartjs-bar-->
            <!--:target="`${key}`"-->
            <!--label=""-->
            <!--:height="height/3"-->
            <!--:data="history[key]"-->
            <!--:messages="{empty: 'No data'}"-->
            <!--:library="library"-->
            <!--&gt;</chartjs-bar>-->
            <!--<chartjs-line-->
            <!--:target="`${key}`"-->
            <!--label=""-->
            <!--:height="height/3"-->
            <!--:data="history[key]"-->
            <!--:messages="{empty: 'No data'}"-->
            <!--:library="library"-->
            <!--&gt;</chartjs-line>-->
        </div>
    </div>
</template>

<script>
  import * as R from "ramda";
  import * as moment from "moment";

  export default {
    name    : "PredictionPanel",
    data() {
      return {
        library: {
          title    : {
            display: false,
            text   : "Custom Title"
          },
          scales   : {
            // yAxes: [{type: "logarithmic"}],
            xAxes: [{
              scaleLabel: {display: false},
              labels    : [""],
              ticks     : {
                // min     : 0,
                // max     : 1,
                // stepSize: 0.25
              }
            }]
          },
          gridlines: {
            display: false
          },
          layout   : {
            // height: 50,
            padding: {
              left  : 0,
              right : 0,
              top   : 0,
              bottom: 0
            }
          }
        }
      };
    },
    props   : {
      msg   : String,
      start : {
        type   : Number,
        default: 0
      },
      width : 0,
      height: 0
    },
    computed: {
      history() {
        // console.log(this.$store.state.important);
        // console.log(Object.keys(this.$store.state.data[0]))
        // console.log(this.$store.state.important.map(
        //   key => Object.keys(this.$store.state.data[0]).includes(key)
        // ))
        // throw "";
        const data = this.$store.state.data.slice(this.start, this.start + 1);
        console.log(this.$store.state.important);
        // throw ''
        const result = this.$store.state.important.map(key =>
          ({
            [key]: data
              .map(R.props(["date", key]))
              .map(([date, value]) => {
                return [moment(date).format("hh:mm:ss"), value];
              })
          })
        ).reduce((a, v) => ({...a, ...v}));
        console.log({result});
        return result;
      },
      // currentValueString() {
      //   return parseInt(this.history[0][1] * 100);
      // },
      indicators() {
        return Object.keys(this.$store.state.data[0]).slice(1, 11);
      },
      important() {
        return this.$store.state.important;
      },
      headers() {
        return this.$store.state.headers;
      }
    },
    methods : {
      emitKey(key) {
        this.$emit("selection", key);
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .panel {
        /*border: 3px red solid;*/
        display: flex;
        flex-wrap: wrap;
    }

    .predict {
        font-size: 40px;
        font-weight: 700;
    }

    .label {
        font-size: 10px;
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

</style>
