<template>
    <div class="panel">
        <div class="predict">
            {{currentValueString}}%
            <!--//fixme-->
        </div>
        <!--<pie-chart-->
        <!--label="test"-->
        <!--:data="{'Blueberry': 44, 'Strawberry': 23}"></pie-chart>-->
        <bar-chart
                :download="true"
                :data="history"
                :messages="{empty: 'No data'}"
                :library="library"
        ></bar-chart>
    </div>
</template>

<script>
  import * as R from "ramda";
  import * as moment from "moment";

  export default {
    name    : "PredictionPanel",
    data() {
      return {
        library: {
          title    : {
            display: false,
            text   : "Custom Title"
          },
          scales   : {
            xAxes: [{
              ticks: {
                min     : 0,
                max     : 1,
                stepSize: 0.25
              }
            }]
          },
          gridlines: {
            display: false
          },
          layout   : {
            padding: {
              left  : 0,
              right : 0,
              top   : 0,
              bottom: 0
            }
          }
        }
      };
    },
    props   : {
      msg   : String,
      start : {
        type   : Number,
        default: 0
      },
      width : 0,
      height: 0
    },
    computed: {
      history() {
        // const firstKey = Object.keys(this.$store.state.data[0])[3];
        const result = this.$store.state.data
          .slice(this.start, this.start + 30)
          .map(R.props(["date", 'predict']))
          .map(([date, value]) => {
            return [moment(date).format("hh:mm:ss"), value];
          });
        return R.reverse(result);
      },
      currentValueString() {
        return parseInt(this.history[0][1] * 100);
      },
      headers() {
        return this.$store.getters.getHeaders();
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .panel {
        /*border: 3px red solid;*/
    }

    .predict {
        font-size: 40px;
        font-weight: 700;
    }
</style>
