<template>
    <div id="app">
        <!--<div v-if="loading" class="loading">-->
        <!--<div>Загрузка данных<br/><i class="fa fa-cog fa-spin fa-fw"></i></div>-->
        <!--</div>-->
        <!--<div v-if="error" class="error">{{ error }}</div>-->
        <!--<router-view v-if="!loading"/>-->
        <!--<div id="nav">-->
        <!--<router-link to="/">Home</router-link> |-->
        <!--<router-link to="/about">About</router-link>-->
        <!--</div>-->
        <div v-if="loading" class="loading">
            <div>Загрузка данных<br/><i class="fa fa-cog fa-spin fa-fw"></i></div>
        </div>
        <div v-if="error" class="error">{{ error }}</div>
        <router-view v-if="!loading"/>
        <!--<router-view/>-->
    </div>
</template>

<script>
  const data = require("../data.json");
  const headers = require("../headers.json");
  const stats = require("../descriptive_stat.json");
  const importance = require("../param_importance.json");
  import * as R from "ramda";
  import * as d3 from "d3";

  const _ = require("lodash");

  export default {
    name: "app",
    data() {
      return {
        loading: true,
        error  : null
      };
    },
    created() {
      // let imp = R.sortBy(d3.sort(.map(R.props(["Param_name", "importance"])), 1);
      let imp = R.reverse( _.sortBy(importance, a => a['importance']))
        .slice(0,10)
        .map(R.prop('Param_name'));
      console.log(imp);
      this.$store.commit("setData", data.slice(1000, 1300));
      this.$store.commit("setStats", stats);
      this.$store.commit("setImportance", imp);
      this.$store.commit("setHeaders", [...headers, {
        tagid: "predict",
        key  : "predict",
        label: "Вероятность останова"
      }].reduce((a,
                 v) =>
        ({
          ...a,
          [v["key"]]: v
        }), {}));
      // console.log(headers.map(R.prop("key")).map(k => ({[k]: k})));
      // console.log(headers.reduce((a, v) => ({...a, [v["key"]]: v}), {}));
      // ]);
      this.loading = false;
      // console.log("loading done");
    }
  };
</script>

<style lang="scss">
    @import "~bootstrap/dist/css/bootstrap.css";
    @import "~bootstrap-vue/dist/bootstrap-vue.css";

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;
        a {
            font-weight: bold;
            color: #2c3e50;
            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }
</style>
